@use "../../assets/styles/mixins" as mixin;

.container {
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px 20px;
  position: relative;
  top: 50px;
  margin-bottom: 100px;
  width: 100%;

  @include mixin.sm-all {
    background-color: #f6f6f6;
    padding: 20px;
    border-radius: 10px;
  }

  @include mixin.sm {
    grid-template-columns: 1fr;
  }
  @include mixin.md {
    grid-template-columns: 1fr 1fr;
  }
  @include mixin.lg {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

