.header {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 40px;
    margin-bottom: 40px;
    margin-left: 70px;
  
    .header__logo {
      width: 15%;
    }
  
    .divLink {
      width: 20%;
      display: flex;
      justify-content: space-between;
    }
  
    .nav_link {
      color: #FF6060;
      text-decoration: none;
      font-weight: 500;
      font-size: 24px;
    }
  
    .nav_link:hover {
      text-decoration: underline;
    }
  
    @media screen and (min-width: 769px) and (max-width: 991px) {
      
        margin-left: 45px;
     
      .divLink{
       width: 30%;
      }
    
     }

    @media screen and (max-width: 768px) {
      margin-left: 20px;
      width: 90%;
  
      .header__logo {
        width: 30%;
      }
  
      .divLink {
        margin-left: 30px;
        width: 50%;
      }
  
      .nav_link {
        font-size: 18px;
      }
    }
  }
 