footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  gap: 28px;
  justify-content: center;
  align-items: center;
  padding: 66px 0 29px 0;
  
span {
      color: #FFFFFF;
      margin: 0;
  }
}
@media screen and (max-width: 768px) {
  footer {
    padding-bottom: 166px;
  }

}