@use "../../assets/styles/mixins" as mixin;

* {
  box-sizing: border-box;
}

body {
  //position: relative;
  //height: 100%;
  //width: 100%;
  margin: 0;
  font-family: var(--font-family);
  //-webkit-font-smoothing: antialiased;
  //-moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
  background-color: var(--gray-2);
}

main {
  height: 100%;
  padding-bottom: 20px;
  @include mixin.sm-all {
   min-height: 600px;
  }
  @include mixin.md-all {
    min-height: 650px;
  }
}

ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.logo {
  width: 145px;
  height: 47px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}
