@use "../../assets/styles/mixins" as mixin;

* {
  box-sizing: border-box;
}

body {
  position: relative;
  width: 100%;
  margin: 0;

}




.logo {
  width: 145px;
  height: 47px;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

img {
  max-width: 100%;
}
