@use "./variables";
@use "./base";
@use "./debug";
@use "./mixins";



body, html {
    font-family: "Montserrat", "serif";
    background-color: white;
    margin: auto;
    max-width: 1440px;
  }
  
  @font-face {
    font-family: "Montserrat";
    src: local("Montserrat"), url("../styles/fonts/Montserrat-VariableFont_wght.ttf");
  }

