.banner-img {
  object-fit: cover;
  height: 14rem;
  margin: 0 5%;
  filter: brightness(70%);
  border-radius: 2rem;
  width: 90%;
}

.banner-text {
  font-family: 'Montserrat';
  color: white;
  font-size: 3rem;
  position: relative;
  bottom: 9rem;
  display: flex;
  justify-content: center;
}

.banner {
  height: 14rem;
}

@media (max-width: 1024px) {
  .banner {
    height: 4rem;
    margin: 0 0 4rem;
  }

  .banner-img {
    object-fit: cover;
    height: 8rem;
    margin: 0px 5%;
    filter: brightness(70%);
    border-radius: 1rem;
    width: 90%;
  }

  .banner-text {
    font-size: 1.5rem;
    bottom: 7.5rem;
    width: 14rem;
    left: 8%;
  }
}